<div class="container">
  <div class="wrapper">
    <h4 class="text-center">Word Wrap</h4>

    <%= form_with url: '/' do |form| %>
      <div class="form-group mt-4 w-50">
        <%= form.label "Enter column number" %>
        <%= form.number_field :col_num, min: 0, class: "form-control" %>
      </div>

      <div class="form-group mt-4">
        <%= form.label "Enter string to wrap" %>
        <%= form.text_area :input_str, min: 0, class: "form-control" %>
      </div>

      <div class="mt-4 text-end">
        <%= form.submit "Wrap String", class: "btn btn-primary" %>
      </div>
    <%end%>
  </div>
</div>
